*.exe
*.fw
/litegui
/changes_generated
/unpacked*
/old
/changes_edited/fonts/msyh.ttf
/changes_edited/litegui/theme1/adjust/volume_bg.png
/changes_edited/litegui/theme1/playing/buttom_bg.png
/changes_edited/litegui/theme1/playing/cursor.png
/changes_edited/litegui/theme1/playing/long_menu_bg.png
/changes_edited/litegui/theme1/playing/menu_short_bg.png
/changes_edited/litegui/theme1/playing/pause_bg.png
/changes_edited/litegui/theme1/playing/shade_bg.png
/changes_edited/litegui/theme5/playing/process0.png
/changes_edited/litegui/theme5/playing/process1.png
